<div ng-controller="collecttableCtrl">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">Filtros <span class="pull-right">{{data.options.length}}</span></div>
        <div class="panel-body">
          <div class="col-sm-4">
            <form>
              <div class="form-group">
                <label>Abrigo</label>
                 <select class="form-control" ng-options="(meusergreenhouse.greenhouse.name + ' - ' + meusergreenhouse.greenhouse.grower.name) for meusergreenhouse in options.meusergreenhouses" ng-model="data.greenhouse">
                  <option value="">Selecione</option>
                 </select>
              </div>
              <button type="button" class="btn btn-primary" ng-click="search(0)">Buscar</button>
            </form>
          </div>
        </div>
      </div>
      <table class="table table-responsive table-condensed table-bordered" ng-class="{'show-panel': showResult === false }">
        <thead>
          <tr>
            <th>Sensor</th>
            <th>Upload</th>
            <th class="text-center" width="100">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="collect in data.options">
            <td>{{collect.sensor.description}}</td>
            <td>{{collect.upload.name}}</td>
            <td class="text-center" width="100">{{collect.value}}</td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <button type="button" class="btn btn-default" ng-click="search(filter.page + 1)" ng-show="filter.page < data.pages">Carregar mais 50</button>
      </div>
    </div>
  </div>
</div>
<br/>