<div ng-controller="greenhouseCtrl">
  <div class="row">
    <div class="col-sm-4">
      <form>
        <div class="form-group">
          <label>Nome</label>
          <input type="text" class="form-control" placeholder="Nome do abrigo" ng-model="data.name">
        </div>
        <div class="form-group">
          <label>Produtor</label>
           <select class="form-control" ng-options="grower.name for grower in options.growers" ng-model="data.grower">
            <option value="">Selecione</option>
           </select>
        </div>
        <button type="button" class="btn btn-success" ng-click="saveGreenHouse(data)">Salvar</button>
        <button type="button" class="btn btn-default" ng-click="clear()">Limpar</button>
      </form>
    </div>
    <div class="col-sm-8">
      <br class="visible-xs" />
      <table class="table table-responsive table-condensed table-bordered">
        <thead>
          <tr>
            <th>Abrigo</th>
            <th>Produtor</th>
            <th width='80' class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="greenhouse in options.greenhouses">
            <td>{{greenhouse.name}}</td>
            <td>{{greenhouse.grower.name}}</td>
            <td width='80' class="text-center">
              <button type="button" class="btn btn-primary btn-xs" ng-click="editGreenHouse(greenhouse)">
                <i class="glyphicon glyphicon-pencil"></i>
              </button>
              <button type="button" class="btn btn-danger btn-xs" ng-click="deleteGreenHouse(greenhouse, $index)">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>