<div ng-controller="growerCtrl">
  <div class="row">
    <div class="col-sm-4">
      <form>
        <div class="form-group">
          <label>Produtor</label>
          <input type="text" class="form-control" placeholder="Nome do produtor" ng-model="data.name">
        </div>
        <div class="form-group">
          <label>Cidade</label>
          <input type="text" class="form-control" placeholder="Nome da cidade" ng-model="data.city">
        </div>
        <button type="button" class="btn btn-default" ng-click="saveGrower(data)">Salvar</button>
        <button type="button" class="btn btn-default" ng-click="clear()">Limpar</button>
      </form>
    </div>
    <div class="col-sm-8">
      <br class="visible-xs" />
      <table class="table table-responsive table-condensed table-bordered">
        <thead>
          <tr>
            <th>Produtor</th>
            <th>Cidade</th>
            <th width='80' class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="grower in options.growers">
            <td>{{grower.name}}</td>
            <td>{{grower.city}}</td>
            <td width='80' class="text-center">
              <button type="button" class="btn btn-default btn-xs" ng-click="editGrower(grower)">
                <i class="glyphicon glyphicon-pencil"></i>
              </button>
              <button type="button" class="btn btn-default btn-xs" ng-click="deleteGrower(grower, $index)">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>