<div class="container">
		<div class="row">
			<a href="/#/dasda">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
					<div class="panel panel-default panel-default-menu">
						<div class="panel-heading panel-heading-menu"></div>
					  <div class="panel-body panel-body-menu text-center">TESTE</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
<footer class="footer">
    <div class="container text-center">
      <p class="text-muted">SENSUL<br>Soluções para a Agricultura de Precisão e Redes de Sensores</p>
    </div>
</footer>
