<div>
  <div class="row">
    <div class="col-sm-4">
      <form id="formUpload" method="post" action="/upload" enctype="multipart/form-data">
        <div class="form-group">
          <label>Abrigo</label>
            <select class="form-control" ng-options="(getGreenhouse(meusergreenhouse.greenhouse).name + ' - ' + getGrower(getGreenhouse(meusergreenhouse.greenhouse).grower).name) for meusergreenhouse in options.meusergreenhouses" ng-model="data.greenhouse">
            <option value="">Selecione</option>
           </select>
           <input class="form-control" value="{{data.greenhouse.greenhouse}}" ng-show="false" name="greenhouse" />
        </div>
        <div class="form-group">
          <label>Arquivo</label>
          <input type="file" name="filecsv" id="filecsv" accept=".csv" ng-model="data.filecsv">
        </div>
        <button type="button" class="btn btn-default" ng-click="sendUpload()">Enviar</button>
        <button type="button" class="btn btn-default" ng-click="clear()">Limpar</button>
      </form>
    </div>
    <div class="col-sm-8">
      <table class="table table-responsive table-condensed table-bordered">
        <thead>
          <tr>
            <th>Abrigo</th>
            <th>Produtor</th>
            <th>Arquivo</th>
            <th width='60' class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="upload in options.uploads">
            <td>{{getGreenhouse(upload.greenhouse).name}}</td>
            <td>{{getGrower(getGreenhouse(upload.greenhouse).grower).name}}</td>
            <td><a href="{{upload.path}}" target="_blank">{{upload.name}}</a></td>
            <td width='60' class="text-center">
              <button type="button" class="btn btn-default btn-xs" ng-click="deleteUpload(upload, $index)">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>