<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/dist/images/favicon.ico">
    <link rel="mask-icon" href="/dist/images/favicon.ico" color="black">
    <title>Sensul - Uploader</title>
    <link rel="stylesheet" type="text/css" href="app/libraries/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="app/dist/css/style.css">
    <style type="text/css">
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
    </style>
  </head>
  <body class="ng-cloak">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/#index">
          <img id="logo-menu"src="/app/dist/img/logo/black_p.png" />
        </a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/#home">MENU</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configurações <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/logout">Sair</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container container-view">
      <ng-view></ng-view>
    </div>
    <div class="app-loading">
      <div class="animated-container" ng-class="{ 'app-loader-hide': loader.status === false }">
        <div class="messaging">
          <h1>{{loader.message}}</h1>
          <p>{{loader.submessage}}</p>
          <br/>
          <div ng-show="loader.type == 1">
            <button type="button" class="btn btn-default" ng-click="eventOkButton()">Ok</button>
          </div>
          <div ng-show="loader.type == 3">
            <button type="button" class="btn btn-default" ng-click="eventSimButton()">Sim</button>
            <button type="button" class="btn btn-default" ng-click="eventCancelarButton()">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer" ng-show="showFooter()">
      <div class="container text-center">
        <p class="text-muted">SENSUL<br>Soluções para a Agricultura de Precisão e Redes de Sensores</p>
      </div>
    </footer>
    <script src="app/libraries/angularjs/js/angular.min.js"></script>
    <script src="app/libraries/angularjs/js/angular-route.min.js"></script>
    <script src="app/libraries/jquery/js/jquery.min.js"></script>
    <script src="app/libraries/bootstrap/js/bootstrap.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/others/script.js"></script>
    <script src="app/others/config.js"></script>
    <script src="app/others/constant.js"></script>
    <script src="app/others/util.js"></script>
  </body>
</html>